*{
    box-sizing: border-box;
    display: block;
}
h1 {
    margin: 0; /* Reset margin for the h1 element */
}
h1 div {
    margin: 0; /* Reset margin for the div element */
}
.multicolumn {
    column-count: 3; /* Number of columns */
    column-gap: 20px; /* Gap between columns */
    padding: 10px; /* Padding inside the multicolumn container */
    min-height: 350px;
}
.column-content {
    break-inside: avoid; /* Prevents column breaks within the content */
    margin-bottom: 20px; /* Adds space between sections */
}
body {
    /* background-image: url(images/gidleotherpic.webp); */
    background-size:auto; /* Adjust to cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed;
    background-color: violet; /* Fallback color */
    float:left;
} 
.navbar ul{
    list-style-type: none;
    background-color: violet;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 22px;
}
.navbar a:hover{
    background-color: tomato;
}
.navbar li{ /*to make horizontal bar*/
    float: left;
}